<p id="notice"><%= notice %></p>

<p>
  <strong>Send date:</strong>
  <%= @email.send_date %>
</p>

<p>
  <strong>To:</strong>
  <%= @email.to %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @email.sent %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
